.portfolio .container {
  padding-bottom: 40px;
}
.portfolio .portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.portfolio .portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}
.portfolio .personal-item {
  /* flex: 0 0 33.33%;
  max-width: 33.33%; */
  margin-bottom: 30px;
}
.portfolio .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 15px;
}
.portfolio .portfolio-item-inner {
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
}
.portfolio .portfolio-item .portfolio-item-inner .portfolio-img img {
  width: 100%;
  display: block;
}

@media (max-width: 1199px) {
  .aside {
    left: -270px;
  }
  .aside.open {
    left: 0;
  }
  /* .main-content {
    padding-left: 0;
  } */
  .aside .nav-toggler {
    display: flex;
    left: 30px;
    /* position: static; */
  }
  .aside .nav-toggler.open {
    left: 300px;
  }
  .aside .nav-toggler.open span {
    background-color: transparent;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
  .section {
    left: 0;
  }
  .section.open {
    left: 270px;
  }
}
@media (max-width: 991px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    display: none;
  }
}
@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item,
  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* --------------------------------- Card flip */

.portfolio-item .portfolio-item-inner .portfolio-img {
  position: relative;
}
.portfolio-item .portfolio-item-inner .portfolio-img:hover .flip-card-back a {
  display: inline;
}

.flip-card-back {
  position: absolute;
  top: 50%;
  left: 7%;
  transition: all 1s ease;
}

.flip-card-back a {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  margin-right: 0.11rem;
  border: 2px solid#fff;
  font-size: 1rem;
  font-weight: 600;
  background: red;
  opacity: 0.9;
  display: none;
}
