.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease;
}
.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}
.aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
}
.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}

/* ----------- Aside Toggler Button Start */
.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggler.open span {
  background-color: transparent;
}
.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}
.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}
.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav-toggler.open span::after {
  transform: rotate(135deg);
  top: 0;
}
/* ----------- Aside Toggler Button End */
.aside .nav {
  margin-top: 50px;
}
.aside .nav li {
  margin-bottom: 20px;
  /* background: var; */
  display: block;
}
.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: var(--text-black-900);
  padding: 5px 15px;
  border-bottom: 1px solid var(--bg-black-50);
}
.aside .nav li a.active {
  color: var(--skin-color);
}
.aside .nav li a i {
  margin-right: 15px;
}
@media (max-width: 1199px) {
  #aside-bar {
    left: -270px;
  }
  #aside-bar-open {
    left: 0px;
  }
  .aside.open {
    left: 0;
  }

  /* .main-content {
    padding-left: 0;
  } */
  .aside .nav-toggler {
    display: flex;
    left: 30px;
    /* position: static; */
  }
  .aside .nav-toggler.open {
    left: 300px;
  }
  .aside .nav-toggler.open span {
    background-color: transparent;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
  .section {
    left: 0;
  }
  .section.open {
    left: 270px;
  }
}
@media (max-width: 991px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    display: none;
  }
}
@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item,
  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
