@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --skin-color: #ec1839;
}
body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffff;
  --text-black-700: #e9e9e9;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", Times, serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
::before,
::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

.hidden {
  display: none !important;
}

.padd-15 {
  padding: 0 15px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  background: var(--skin-color);
  color: #fff;
  border-radius: 30px;
  border: none;
  display: inline-block;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.06);
}
.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  width: 100%;
  position: fixed;
  left: 180px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.section.back-section {
  z-index: 1;
}
.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}

@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transition: translateX(0%);
  }
}
.main-content {
  padding-left: 270px;
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* ------------------ aside */

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

@media (max-width: 1199px) {
  .aside {
    left: -270px;
  }
  .aside.open {
    left: 0;
  }
  /* .main-content {
    padding-left: 0;
  } */
  .aside .nav-toggler {
    display: flex;
    left: 30px;
    /* position: static; */
  }
  .aside .nav-toggler.open {
    left: 300px;
  }
  .aside .nav-toggler.open span {
    background-color: transparent;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
  .section {
    left: 0;
  }
  .section.open {
    left: 270px;
  }
}
@media (max-width: 991px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    display: none;
  }
}
@media (max-width: 767px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item,
  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* ---------------------------- */

.style-switcher {
  position: fixed;
  right: 0;
  top: 60px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--bg-black-50);
  background: var(--bg-black-100);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}
.style-switcher.open {
  transform: translateX(-25px);
}
.style-switcher .s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--bg-black-100);
  color: var(--text-black-900);
  right: 100%;
  border: 1px solid var(--bg-black-50);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
}
.style-switcher .s-icon i {
  line-height: 40px;
}
.style-switcher .style-switcher-toggler {
  top: 0;
}
.style-switcher .day-night {
  top: 55px;
}
.style-switcher h4 {
  margin: 0 0 10px;
  color: var(--text-black-700);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.style-switcher .colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.style-switcher .colors span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.style-switcher .color-1 {
  background: #ec1839;
}
.style-switcher .color-2 {
  background: #fa5b0f;
}
.style-switcher .color-3 {
  background: #37b182;
}
.style-switcher .color-4 {
  background: #1854b4;
}
.style-switcher .color-5 {
  background: #f021b2;
}
